# Day-1

In [ ]:
! pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/99/f0/f99700ef327e51d291efdf4a6de29e685c4d198cbf8531541fc84d169e0e/pandas-1.3.5.tar.gz
  Installing build dependencies ... done

In [1]:
import pandas as pd

In [132]:
a = {'name':['ashish', 'piyush'],
    'city': ['mohali', 'chandigarh']}
df = pd.DataFrame(a)
df

     name        city
0  ashish      mohali
1  piyush  chandigarh

In [26]:
# b = {'age':[25,27]}
# df1 = pd.DataFrame(b)
# pd.concat([df,df1], axis = 1)

In [133]:
df['age'] = [25,25]

In [134]:
df

     name        city  age
0  ashish      mohali   25
1  piyush  chandigarh   25

In [135]:
c = {'akash':['name1', 'city1',21],
    'sajan': ['name2', 'city2',22],
    'jyoti': ['name3','city3',23]}
d = c.values()

for i in d:
    df.loc[len(df.index)] = i

In [156]:
df

     name        city  age
0  ashish      mohali   25
1  piyush  chandigarh   25
2   name1       city1   21
3   name2       city2   22
4   name3       city3   23
5   name1       city1   21
6   name2       city2   22
7   name3       city3   23

In [222]:
c = [['name1', 'city1',21],
    ['name2', 'city2',22],
    ['name3','city3',23]]

for i in c:
    df.loc[len(df.index)] = i

In [223]:
df2 = df.loc[df['age'] <=22]

In [233]:
import json
df3 = df2.to_json('./df3.json', orient='values')

#with open("df4.json", "w") as outfile:
    #outfile.write(df4.json)
print(df3)
#data = df3.to_json('./export.json', orient='index')

None

In [230]:
df3.json

AttributeError: 'str' object has no attribute 'json'

In [127]:
df.loc[len(df.index)-1]

name    age1
city    age2
age     age3
Name: 4, dtype: object

In [92]:
mylist = [1,2,3,4,5,6,3,5,2,4,5,4]
mylist1 = set(mylist)
mylist2 = list(mylist1)

In [94]:
mylist2

for i in range(0,(len(mylist2))):
    mylist2.append(mylist2[i])
mylist2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [1]:
import pandas as pd
import csv
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.11) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
 url = "https://directory.okstate.edu/index.php/module/Default/action/PersonSearch?campus=&first_name=Jhon%20&last_name=Smith"
    
# installl web driver 
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get(url)

In [18]:
soup =BeautifulSoup(driver.page_source, 'html.parser')
results_row = soup.find_all('tr')
table_row = []
for i in range(1,(len(results_row))):
       table_row.append(((results_row[i].text).strip()).split('\n\n'))

In [19]:
for i in table_row:
    print(i)

['John Smith', 'Hd Coach Wrestling\n ATHLETIC BUSINESS OFFICE', '405-744-4541\njohn.w.smith@okstate.edu\nOSU Stillwater']
['John Smith', 'Dir Fin Info Mgmt\n FINANCIAL INFORMATION MANAGEMENT', '405-744-6475\njohn.smith@okstate.edu\nOSU Stillwater']
['SHARON SMITH', 'PR COORDINATOR\n MARKETING AND COMMUNICATIONS', '918-293-5140\nsharon.smith@okstate.edu\nOSU-Institute of Technology']
['Jay Smith', 'Student', '\njay.smith14@langston.edu\nLangston University, Langston']
['Jayson Smith', 'Student', '\njayson.smith10@neo.edu\nNortheastern Oklahoma A & M, Miami']
['Jon Smythe', 'Ast Prof\n SCHOOL OF TEACHING, LEARNING AND EDUCATIONAL SCIENCES', '405-744-7125\njon.smythe@okstate.edu\nOSU Stillwater']
['Jordan Smith', 'Web Des\n ATHLETIC BUSINESS OFFICE', '405-334-6792\njordan.smith@okstate.edu\nOSU Stillwater']
['Jordan Smith', 'PATIENT SERV REP II\n Internal Medicine', '918-582-7711\njordan.smith15@okstate.edu\nOSU Center for Health Sciences']
['Joe Smith', 'Tmp Wkr\n ATHLETIC BUSINESS OFFICE', '405-744-4541\njoseph.w.smith@okstate.edu\nOSU Stillwater']
['Ashton Smith', 'Student', '\nashton.smith12@neo.edu\nNortheastern Oklahoma A & M, Miami']

In [27]:
for i in range(0,len(table_row)):
    for j in table_row:
        if '\n' in (j[i]):
            a = j[i].split('\n')
            j[i] = a
        print(j)

['John Smith', ['Hd Coach Wrestling', ' ATHLETIC BUSINESS OFFICE'], ['405-744-4541', 'john.w.smith@okstate.edu', 'OSU Stillwater']]
['John Smith', ['Dir Fin Info Mgmt', ' FINANCIAL INFORMATION MANAGEMENT'], ['405-744-6475', 'john.smith@okstate.edu', 'OSU Stillwater']]
['SHARON SMITH', ['PR COORDINATOR', ' MARKETING AND COMMUNICATIONS'], ['918-293-5140', 'sharon.smith@okstate.edu', 'OSU-Institute of Technology']]
['Jay Smith', 'Student', ['', 'jay.smith14@langston.edu', 'Langston University, Langston']]
['Jayson Smith', 'Student', ['', 'jayson.smith10@neo.edu', 'Northeastern Oklahoma A & M, Miami']]
['Jon Smythe', ['Ast Prof', ' SCHOOL OF TEACHING, LEARNING AND EDUCATIONAL SCIENCES'], ['405-744-7125', 'jon.smythe@okstate.edu', 'OSU Stillwater']]
['Jordan Smith', ['Web Des', ' ATHLETIC BUSINESS OFFICE'], ['405-334-6792', 'jordan.smith@okstate.edu', 'OSU Stillwater']]
['Jordan Smith', ['PATIENT SERV REP II', ' Internal Medicine'], ['918-582-7711', 'jordan.smith15@okstate.edu', 'OSU Center for Health Sciences']]
['Joe Smith', ['Tmp Wkr', ' ATHLETIC BUSINESS OFFICE'], ['405-744-4541', 'joseph.w.smith@okstate.edu', 'OSU Stillwater']]
['Ashton Smith', 'Student', ['', 'ashton.smith12@neo.edu', 'Northeastern Oklahoma A & M, Miami']]
['John Smith', ['Hd Coach Wrestling', ' ATHLETIC BUSINESS OFFICE'], ['405-744-4541', 'john.w.smith@okstate.edu', 'OSU Stillwater']]
['John Smith', ['Dir Fin Info Mgmt', ' FINANCIAL INFORMATION MANAGEMENT'], ['405-744-6475', 'john.smith@okstate.edu', 'OSU Stillwater']]
['SHARON SMITH', ['PR COORDINATOR', ' MARKETING AND COMMUNICATIONS'], ['918-293-5140', 'sharon.smith@okstate.edu', 'OSU-Institute of Technology']]
['Jay Smith', 'Student', ['', 'jay.smith14@langston.edu', 'Langston University, Langston']]
['Jayson Smith', 'Student', ['', 'jayson.smith10@neo.edu', 'Northeastern Oklahoma A & M, Miami']]
['Jon Smythe', ['Ast Prof', ' SCHOOL OF TEACHING, LEARNING AND EDUCATIONAL SCIENCES'], ['405-744-7125', 'jon.smythe@okstate.edu', 'OSU Stillwater']]
['Jordan Smith', ['Web Des', ' ATHLETIC BUSINESS OFFICE'], ['405-334-6792', 'jordan.smith@okstate.edu', 'OSU Stillwater']]
['Jordan Smith', ['PATIENT SERV REP II', ' Internal Medicine'], ['918-582-7711', 'jordan.smith15@okstate.edu', 'OSU Center for Health Sciences']]
['Joe Smith', ['Tmp Wkr', ' ATHLETIC BUSINESS OFFICE'], ['405-744-4541', 'joseph.w.smith@okstate.edu', 'OSU Stillwater']]
['Ashton Smith', 'Student', ['', 'ashton.smith12@neo.edu', 'Northeastern Oklahoma A & M, Miami']]
['John Smith', ['Hd Coach Wrestling', ' ATHLETIC BUSINESS OFFICE'], ['405-744-4541', 'john.w.smith@okstate.edu', 'OSU Stillwater']]
['John Smith', ['Dir Fin Info Mgmt', ' FINANCIAL INFORMATION MANAGEMENT'], ['405-744-6475', 'john.smith@okstate.edu', 'OSU Stillwater']]
['SHARON SMITH', ['PR COORDINATOR', ' MARKETING AND COMMUNICATIONS'], ['918-293-5140', 'sharon.smith@okstate.edu', 'OSU-Institute of Technology']]
['Jay Smith', 'Student', ['', 'jay.smith14@langston.edu', 'Langston University, Langston']]
['Jayson Smith', 'Student', ['', 'jayson.smith10@neo.edu', 'Northeastern Oklahoma A & M, Miami']]
['Jon Smythe', ['Ast Prof', ' SCHOOL OF TEACHING, LEARNING AND EDUCATIONAL SCIENCES'], ['405-744-7125', 'jon.smythe@okstate.edu', 'OSU Stillwater']]
['Jordan Smith', ['Web Des', ' ATHLETIC BUSINESS OFFICE'], ['405-334-6792', 'jordan.smith@okstate.edu', 'OSU Stillwater']]
['Jordan Smith', ['PATIENT SERV REP II', ' Internal Medicine'], ['918-582-7711', 'jordan.smith15@okstate.edu', 'OSU Center for Health Sciences']]
['Joe Smith', ['Tmp Wkr', ' ATHLETIC BUSINESS OFFICE'], ['405-744-4541', 'joseph.w.smith@okstate.edu', 'OSU Stillwater']]
['Ashton Smith', 'Student', ['', 'ashton.smith12@neo.edu', 'Northeastern Oklahoma A & M, Miami']]

IndexError: list index out of range

In [129]:
table_row

[['John Smith',
  'Hd Coach Wrestling\n ATHLETIC BUSINESS OFFICE',
  '405-744-4541\njohn.w.smith@okstate.edu\nOSU Stillwater'],
 ['John Smith',
  'Dir Fin Info Mgmt\n FINANCIAL INFORMATION MANAGEMENT',
  '405-744-6475\njohn.smith@okstate.edu\nOSU Stillwater'],
 ['SHARON SMITH',
  'PR COORDINATOR\n MARKETING AND COMMUNICATIONS',
  '918-293-5140\nsharon.smith@okstate.edu\nOSU-Institute of Technology'],
 ['Jay Smith',
  'Student',
  '\njay.smith14@langston.edu\nLangston University, Langston'],
 ['Jayson Smith',
  'Student',
  '\njayson.smith10@neo.edu\nNortheastern Oklahoma A & M, Miami'],
 ['Jon Smythe',
  'Ast Prof\n SCHOOL OF TEACHING, LEARNING AND EDUCATIONAL SCIENCES',
  '405-744-7125\njon.smythe@okstate.edu\nOSU Stillwater'],
 ['Jordan Smith',
  'Web Des\n ATHLETIC BUSINESS OFFICE',
  '405-334-6792\njordan.smith@okstate.edu\nOSU Stillwater'],
 ['Jordan Smith',
  'PATIENT SERV REP II\n Internal Medicine',
  '918-582-7711\njordan.smith15@okstate.edu\nOSU Center for Health Sciences'],
 ['Joe Smith',
  'Tmp Wkr\n ATHLETIC BUSINESS OFFICE',
  '405-744-4541\njoseph.w.smith@okstate.edu\nOSU Stillwater'],
 ['Ashton Smith',
  'Student',
  '\nashton.smith12@neo.edu\nNortheastern Oklahoma A & M, Miami']]

In [49]:
results_column = soup.find_all('th')
table_column = []
for i in range(0,len(results_column)):
    table_column.append(results_column[i].text)

In [44]:
soup =BeautifulSoup(driver.page_source, 'html.parser')
results_row = soup.find('table')
rows = results_row.find_all('tr')
table_rows = []
for col in rows[1:]:
    table_rows.append([i.text for i in col.find_all('td')])

In [52]:
import json
scrapped_table = pd.DataFrame(table_rows, columns = table_column)
table = scrapped_table .to_json('./table.json', orient='values')

# Day-2

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

from selenium.webdriver.common.keys import Keys
selenium.__version__

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.11) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

'4.3.0'

In [2]:
url = "https://directory.okstate.edu/"

driver = webdriver.Chrome(service = Service(executable_path=ChromeDriverManager().install()))
driver.get(url)

[WDM] - Downloading: 100%|██████████████████| 6.74M/6.74M [00:08<00:00, 866kB/s]

In [3]:
#'CLASS_NAME', 'CSS_SELECTOR', 'ID', 'LINK_TEXT', 'NAME', 'PARTIAL_LINK_TEXT', 'TAG_NAME', 'XPATH',
element = driver.find_element(By.ID, "people-search")
first_name = element.find_element(By.ID, "search-first-name")
last_name = element.find_element(By.ID, "search-last-name")
first_name.send_keys('ashish')
last_name.send_keys('kumar' + Keys.ENTER)

In [19]:
result = driver.find_element(By.TAG_NAME, "table")

In [23]:
table = result.find_element(By.TAG_NAME, "td")
table_data = []
#for i in table:
       #table_data.append(i.text)
#table_data

#column = len(table_data[0])
#row = len(table_data)
#table_row = table.find_elements(By.TAG_NAME,'tr')
#for i in range(0,len(table_row)):
#table_row1 = table_row.find_element(By.TAG_NAME,'tr')
print(table.text)
#table_row1= table_row[0].find_elements(By.TAG_NAME,'tr')

['R', 'a', 's', 'h', 'm', 'i', ' ', 'K', 'u', 'm', 'a', 'r', 'i']

In [ ]:
conyinuing Day-3, continuing day-4

In [4]:
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import requests #library used to make API requests with Python
import json #to read and write json formatted text in Python


def scrapping():
    url = "https://directory.okstate.edu/"

    driver = webdriver.Chrome(service = Service(executable_path=ChromeDriverManager().install()))
    driver.get(url)

    element = driver.find_element(By.ID, "people-search")
    first_name = element.find_element(By.ID, "search-first-name")
    last_name = element.find_element(By.ID, "search-last-name")
    first_name.send_keys('ashish')
    last_name.send_keys('kumar' + Keys.ENTER)
    
    result = driver.find_element(By.TAG_NAME, "table")
    table = result.find_elements(By.TAG_NAME, "tr")
    table_data = []
    for i in table:
           table_data.append(i.text)
    column = len(table_data[0])
    row = len(table_data)
    return column, row, table_data
    
def google_access_token_generation():
    
    client_id_google = '950441964259-cqce5ca96thac41irru6p16lds0r6l2v.apps.googleusercontent.com'
    client_secret_google = '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'
    refresh_token_google = '1//04l1b9HXPQ8bnCgYIARAAGAQSNwF-L9IrLTg2kSW-O6o6lcBxhIi_LWw6JyqOUWNqk9uhLQz5baAbqDqQqAgRaiFcBqqWosIcXQI'
    url = "https://www.googleapis.com/oauth2/v4/token"
    
    #note the payload and headers are formatted as a dict
    payload = {
        'client_id' : client_id_google ,
        'client_secret' : client_secret_google,
        'refresh_token' : refresh_token_google ,
        'grant_type' : 'refresh_token', 
    }
    
    headers = {
        'Content-Type': "application/x-www-form-urlencoded",
        'cache-control': "no-cache",
        }
    #the response returns the response code whereas the response.text returns the associated json with the request
    response = requests.request('post', url, data=payload, headers=headers)

    #json.loads is used to parse the json object returned with the response
    response_dict = json.loads(response.text)

    #the values can be accessed like a dict object
    google_access_token = response_dict['access_token']
    return(google_access_token)

def update_sheet():
    
    spread_sheet_id = str(input('enter sheet id'))
    #input_range = str(input('enter range'))
    #value = eval(input('enter values respect to the range'))
    
    headers = {
        'Authorization': 'Bearer '+google_access_token_generation(),
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    }
    column, row, table_data = scrapping()
    b = chr(96 + column).upper()
    payload = json.dumps({
        "data":[{
            "range":"A1:"+b+str(row),
            "majorDimension":"ROWS",
            "values":table_data
        }],
        "valueInputOption":"USER_ENTERED"})

    url = 'https://sheets.googleapis.com/v4/spreadsheets/'+spread_sheet_id+'/values:batchUpdate'
    response = requests.request("post", url, headers=headers, data=payload)
    print(response.text)
update_sheet()

enter sheet id1-cfEWD4pFcTSpDVj_KsfkJR2vH57kPdMIfCn4hAdQz8
{
  "error": {
    "code": 400,
    "message": "Invalid value at 'data[0].values[0]' (type.googleapis.com/google.protobuf.ListValue), \"Name Title Department Phone Email Campus\"\nInvalid value at 'data[0].values[1]' (type.googleapis.com/google.protobuf.ListValue), \"Rashmi Kumari Student rashmi.kumari@okstate.edu OSU Stillwater\"\nInvalid value at 'data[0].values[2]' (type.googleapis.com/google.protobuf.ListValue), \"Ashish Gupta Student ashish.gupta10@okstate.edu OSU Stillwater\"",
    "status": "INVALID_ARGUMENT",
    "details": [
      {
        "@type": "type.googleapis.com/google.rpc.BadRequest",
        "fieldViolations": [
          {
            "field": "data[0].values[0]",
            "description": "Invalid value at 'data[0].values[0]' (type.googleapis.com/google.protobuf.ListValue), \"Name Title Department Phone Email Campus\""
          },
          {
            "field": "data[0].values[1]",
            "description": "Invalid value at 'data[0].values[1]' (type.googleapis.com/google.protobuf.ListValue), \"Rashmi Kumari Student rashmi.kumari@okstate.edu OSU Stillwater\""
          },
          {
            "field": "data[0].values[2]",
            "description": "Invalid value at 'data[0].values[2]' (type.googleapis.com/google.protobuf.ListValue), \"Ashish Gupta Student ashish.gupta10@okstate.edu OSU Stillwater\""
          }
        ]
      }
    ]
  }
}

In [120]:
def scrapping():
    url = "https://directory.okstate.edu/"

    driver = webdriver.Chrome(service = Service(executable_path=ChromeDriverManager().install()))
    driver.get(url)

    element = driver.find_element(By.ID, "people-search")
    first_name = element.find_element(By.ID, "search-first-name")
    last_name = element.find_element(By.ID, "search-last-name")
    first_name.send_keys('ashish')
    last_name.send_keys('kumar' + Keys.ENTER)
    
    result = driver.find_element(By.TAG_NAME, "table")
    table = result.find_elements(By.TAG_NAME, "tr")
    table_data = []
    for i in table:
           table_data.append(i.text.split(' '))
    column = len(table_data[0])
    row = len(table_data)
    return column, row
    
print(scrapping())

(6, 3)

In [124]:
#scrapping()
b = chr(96 + column).upper()
range = "A1:"+b+str(row)
print(range)

A1:F3

In [ ]:
import requests

url = "https://sheets.googleapis.com/v4/spreadsheets/1-cfEWD4pFcTSpDVj_KsfkJR2vH57kPdMIfCn4hAdQz8/values/A1%3AF11"

payload={}
headers = {
  'Authorization': 'Bearer '+google_access_token,
  'Accept': 'application/json'
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

In [ ]:
import requests

url = "https://sheets.googleapis.com/v4/spreadsheets/1-cfEWD4pFcTSpDVj_KsfkJR2vH57kPdMIfCn4hAdQz8/values/A1%3AF11"

payload={}
headers = {
  'Authorization': 'Bearer ya29.A0AVA9y1shIh4GdfZwdPBG3UsLyO9kxR2UsmBZwR1sJXPBxkT1MiHcyecmimeGD37M4e8Z3zFgjSorMbR5T6nzr7AQ1y98Ujemtv68jOXLpQ_cSKGHffdaqRs5sLZ0b_AZLNZwW3r2k_WIrrrZ_Yo3WhGJJPUxaCgYKATASATASFQE65dr8EFJhdIXRsII5qYwiKZretw0163',
  'Accept': 'application/json'
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

customer_details                      {'id': 1, 'name': 'customer-1'}
customer_users      [{'user_id': 1, 'user_name': 'user-1'}, {'user...
dtype: object

In [83]:
import pandas as pd
obj = {'customer_details': { 'id' : 1, 'name' : 'customer-1' },
        'customer_users' : [{ 'user_id' : 1, 'user_name' : 'user-1' },
                            { 'user_id' : 2, 'user_name': 'user-2 '}]
      };


a = pd.Series(obj)

df1 = pd.DataFrame(pd.Series(a[0]), columns = ["customer details"])
df2 = pd.DataFrame(a[1], columns = ['user_id','user_name'])
#print(df1,"\n")
#print(df2)
for i in obj:
    if type(obj[i])==list:
        for k in range(0,len(obj[i])):
            for j in obj[i][k]:
                print(obj[i][k][j])
    else:
        for j in obj[i]:
            print(obj[i][j])

1
customer-1
1
user-1
2
user-2

In [62]:
test_dict = {'Gfg' : 4, 'is' : 5, 'best' : 9} 
test_list = [8, 3, 2]
r = {}
for i,j in zip(test_list,test_dict.items()):
    r[i]=dict([j])
print(r)

{8: {'Gfg': 4}, 3: {'is': 5}, 2: {'best': 9}}

In [281]:
obj = [
{'customer_id' : 1,'customer_name' :'customer-1','user_id' :1,'user_name' :'user-1' },
{'customer_id' : 1,'customer_name' :'customer-1','user_id' :2,'user_name' :'user-2' },
{'customer_id' : 1,'customer_name' :'customer-1','user_id' :3,'user_name' :'user-3' },
{'customer_id' : 2,'customer_name' :'customer-2','user_id' :4,'user_name' :'user-4' },
{'customer_id' : 2,'customer_name' :'customer-2','user_id' :5,'user_name' :'user-5' },
{'customer_id' : 2,'customer_name' :'customer-2','user_id' :6,'user_name' :'user-6' }
]

In [113]:
a = []
b = []
c = {}
d = {}
for i in obj:
    for j,k in i.items():
        if j=='customer_id' and k==1:
             d.update(dict(zip([l],[m])))
                
        if j=='customer_id' and k==2:
            for l,m in i.items():
                if l=="user_id" or l=="user_name":
                    d.update(dict(zip([l],[m])))
                    print(d)

{'user_id': 1}
{'user_id': 1, 'user_name': 'user-1'}
{'user_id': 2, 'user_name': 'user-1'}
{'user_id': 2, 'user_name': 'user-2'}
{'user_id': 3, 'user_name': 'user-2'}
{'user_id': 3, 'user_name': 'user-3'}
{'user_id': 4}
{'user_id': 4, 'user_name': 'user-4'}
{'user_id': 5, 'user_name': 'user-4'}
{'user_id': 5, 'user_name': 'user-5'}
{'user_id': 6, 'user_name': 'user-5'}
{'user_id': 6, 'user_name': 'user-6'}

In [280]:
DF = pd.DataFrame(obj)

a = DF.to_dict('list')
b = []
for i in a.items():
    i = list(i)
    i[1] = set(i[1])
    b.append(i)

c={}
for i in b:
    c.update(dict.fromkeys({i[0]},i[1]))
    print(c)
d = []
#for i in c:

{'customer_id': {1, 2}}
{'customer_id': {1, 2}, 'customer_name': {'customer-1', 'customer-2'}}
{'customer_id': {1, 2}, 'customer_name': {'customer-1', 'customer-2'}, 'user_id': {1, 2, 3, 4, 5, 6}}
{'customer_id': {1, 2}, 'customer_name': {'customer-1', 'customer-2'}, 'user_id': {1, 2, 3, 4, 5, 6}, 'user_name': {'user-2', 'user-6', 'user-3', 'user-5', 'user-1', 'user-4'}}

{'user_id': {'user details': 6}, 'user_name': {'user details': 'user-6'}}

In [282]:
temp = []
emp_data = []
for item in obj:
    data = []
    for  i in obj:
        if i.get("customer_id") == item.get("customer_id"):
            data.append({'user_id': i.get("user_id"), 'user_name': i.get("user_name")})
    if item.get("customer_id") not in temp:
        temp.append(item.get("customer_id"))
        sample = {"customer_details":{
            "customer_id":item.get("customer_id"),
            "customer_name":item.get("customer_name"),
        },
        "user_details":data
        }
        emp_data.append(sample)
print(emp_data)

[{'customer_details': {'customer_id': 1, 'customer_name': 'customer-1'}, 'user_details': [{'user_id': 1, 'user_name': 'user-1'}, {'user_id': 2, 'user_name': 'user-2'}, {'user_id': 3, 'user_name': 'user-3'}]}, {'customer_details': {'customer_id': 2, 'customer_name': 'customer-2'}, 'user_details': [{'user_id': 4, 'user_name': 'user-4'}, {'user_id': 5, 'user_name': 'user-5'}, {'user_id': 6, 'user_name': 'user-6'}]}]

In [ ]:
# Using list list comprehension  
temp = []
emp_data = []
for item in obj:
    data = [{'user_id': i.get("user_id"), 'user_name': i.get("user_name")} for i in obj if i.get("customer_id") == item.get("customer_id")]
    if item.get("customer_id") not in temp:
        temp.append(item.get("customer_id"))
        emp_data.append({"customer_details":{
            "customer_id":item.get("customer_id"),
            "customer_name":item.get("customer_name"),
        },
        "user_details":data
        })
print(emp_data)

In [12]:

customer_data = {'customer_details': { 'id' : 1, 'name' : 'customer-1' },
        'customer_users' : [{ 'user_id' : 1, 'user_name' : 'user-1' },
                            { 'user_id' : 2, 'user_name': 'user-2 '},]
      };

for i in customer_data['customer_users']:
    print(i["user_id"])

1
2

In [142]:
data = {
        'venue':"Dolphin Tavern",
        "name":"Josh Test, Josh Test2, Captain Jack",
        "email":"josh@leadcapitalagency.com,admin@leadcapitalagency.com",
        "LinkedIn Profile":"linkedin.com,linkedin.com",
        "Title":"President,President",
        "source":"Outbound Research",
        "campaign" :"reviews",
        "Review Link":"https://search.google.com/local/reviews?placeid=ChIJcwcnPBDGxokRkgvUEr-tXwI",
        "Owner":"Derek Pacque",
        "Rating": "XtraHot",
        "Location Link":"https://www.google.com/maps/place/Dolphin Tavern/@39.930577899999996,-75.168071,14z/data=!4m8!1m2!2m1!1sDolphin Tavern!3m4!1s0x89c6c6103c270773:0x25fadbf12d40b92!8m2!3d39.930577899999996!4d-75.168071",
        "Venue Type" :"Night Club",
        "Review Source": "Review Source",
        "City" :"Philadelphia",
        "State":"Pennsylvania",
        "lat" :"39.9305779",
        "Long" :"-75.168071",
        "Country":"US",
        "Phone":"1 215-278-7950",
        "street":"1539 S Broad St",
        "postal": "19147",
        "venuerating":"4,5"
        }
split_list = []
convert_list = []
data_list = []
b = 0
list_to_dict = []


for i in data.items():
    if ',' in i[1]:
        if "google.com/maps" not in i[1]:       
            split_list.append(i[1].split(','))
        else:
            convert_list.append(i[1])
            split_list.append(convert_list)
            convert_list = []
    else:
        convert_list.append(i[1])
        split_list.append(convert_list)
        convert_list = []

for i in split_list:
    if (len(i))>b:
        b=len(i)


for i in split_list:
    a = b - len(i)
    for j in range(0, a):
        i.append(' ')
    data_list.append(i)

for i,j in zip(data_list,data):
    data[j]=i

a = input("Enter the list items : ").split()
for i in a:
    print(data[i])

Enter the list items : name Country
['Josh Test', ' Josh Test2', ' Captain Jack']
['US', ' ', ' ']

In [140]:
a = input("Enter the list items : ").split()
for i in a:
    print(data[i])

Enter the list items : name country state
['Josh Test', ' Josh Test2', ' Captain Jack']

KeyError: 'country'